In [1]:
import pandas as pd
from sklearn import linear_model
from word2number import w2n

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/2_linear_reg_multivariate/Exercise/hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [3]:
import math

median_test_score = df['test_score(out of 10)'].median()
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(math.floor(median_test_score))

df.experience = df.experience.fillna('zero')
df['exp_num'] = df.experience.apply(w2n.word_to_num)
df = df.drop('experience', axis='columns')
df

   test_score(out of 10)  interview_score(out of 10)  salary($)  exp_num
0                    8.0                           9      50000        0
1                    8.0                           6      45000        0
2                    6.0                           7      60000        5
3                   10.0                          10      65000        2
4                    9.0                           6      70000        7
5                    7.0                          10      62000        3
6                    8.0                           7      72000       10
7                    7.0                           8      80000       11

In [4]:
model = linear_model.LinearRegression()
model.fit(df[['test_score(out of 10)', 'interview_score(out of 10)', 'exp_num']], df['salary($)'])

LinearRegression()

In [5]:
model.coef_

array([1845.70596798, 2205.24017467, 2812.95487627])

In [6]:
model.intercept_

17737.26346433774

In [7]:
model.predict([[9, 6, 2]])

array([53205.96797671])

In [8]:
model.predict([[10, 10, 12]])

array([92002.18340611])